= form_for @post, :html => { :class => 'form' } do |post|
  = post.error_messages
  %br/
  = post.text_field :title, :style => "width: 100%;", :title => "Post Title"
  = post.text_area :content, :style => "width: 100%; height: 150px;", :class => 'textarea'
  %h4 
    Tags
    = post.text_field :tags, :style => "width: 100%;"
  %br/
  %center
    = post.submit
    = submit_tag "Cancel", :class => 'btn'
  %br/
  .hr