!!! Strict
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    = stylesheet_link_tag 'application', '/markitup/skins/simple/style.css', '/markitup/sets/html/style.css'
    = javascript_include_tag :defaults, 'newsies', 'jquery.easing.1.3', '/markitup/jquery.markitup.js', '/markitup/sets/html/set.js'
    %link{:href => "/feed", :rel => "alternate", :type => "application/rss+xml"}
    %meta{:keywords => "Ruby, Rails, Sinatra, jQuery, jquery, ruby on rails, ror, mysql, postgresql,"}
    %meta{:description => "Discussion on Web Development focusing on Ruby, Ruby on Rails, Rails, jQuery, CoffeeScript, MySQL, PostgreSQL and much more.", :name => "Evan Sparkman | Aspiring Rubyist"}
    %title
      = AppConfig.site_title
      
    :javascript
      Cufon.replace('h1');
      Cufon.replace('h2');

    :javascript
      function FloatMenu(){
        var animationSpeed=1500;
        var animationEasing='easeOutQuint';
        var scrollAmount=$(document).scrollTop();
        var newPosition=menuPosition+scrollAmount;
        if($(window).height()<$('#fl_menu').height()+$('#fl_menu .menu').height()){
          $('#fl_menu').css('top',menuPosition);
        } else {
          $('#fl_menu').stop().animate({top: newPosition}, animationSpeed, animationEasing);
        }
      }
      $(window).load(function() {
        menuPosition=$('#fl_menu').position().top;
        FloatMenu();
      });
      $(window).scroll(function () { 
        FloatMenu();
      });
      jQuery(document).ready(function(){
        var fadeSpeed=500;
        $("#fl_menu").hover(
          function(){ //mouse over
            $('#fl_menu .label').fadeTo(fadeSpeed, 1);
            $("#fl_menu .menu").fadeIn(fadeSpeed);
          },
          function(){ //mouse out
            $('#fl_menu .label').fadeTo(fadeSpeed, 0.75);
            $("#fl_menu .menu").fadeOut(fadeSpeed);
          }
        );
      });
      
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'GA-ACCOUNTNUMBER-HERE']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
  
    %style{:media => "screen", :type => "text/css"}
      h1 a{color:black;text-decoration:none;}
      
  %body.index 
    #fl_menu
      .label
        menu
      .menu 
        -if current_user
          %menu_item
            = link_to "New post", new_post_path, :class => 'menu_item'
          %a.menu_item{:href => '/draft'}
            Draft
          %menu_item
            = link_to "Logout", logout_path, :class => 'menu_item'
            
        -else
          = link_to "Home", root_path, :class => 'menu_item'
          %a.menu_item{:href => '/resume.html'}
            Resume
          %a.menu_item{:href => 'http://www.github.com/esparkman'}
            Github
          %a.menu_item{:href => 'http://www.twitter.com/esparkman'}
            Twitter
    
    #frame
      .title
        %a{:href => "/", :title => "#{AppConfig.site_title.nil? ? 'Configuration' : AppConfig.site_title}"}
          %h1 #{AppConfig.site_title.nil? ? 'Bloggin' : AppConfig.site_title}
        .description
          #{AppConfig.site_title.nil? ? 'Configuration' : AppConfig.site_description}
          
        .posts
          .hr
          =yield
      
      #footer
        Newsies, a template by
        %a{:href => "#", :target => "_blank", :title => "http://alasdairmonk.com"} Alasdair Monk

